.git
.github
.vscode
.idea

build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
Testing/

out/
queue/
results/
*.out
*.ncu-rep

__pycache__/
*.pyc
*.pyo

*.o
*.obj
*.a
*.so
*.dylib
